# The Gradle wrapper jar is required to run gradlew on every developer machine.
# Keep it under version control with gradle-wrapper.properties.
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
